.ratingButton {
  margin-right: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid grey;
  transition: 70ms all ease;
}

.ratingButton:active {
  background-color: red;
  color: aliceblue;
  border: 1px solid red;
}

.ratingButton:last-child {
  margin: 0;
}
